<!-- Footer -->

<footer id="footer" class="navbar navbar-inverse navbar-fixed-top navbar-custom">

    <!-- Copyright -->
    <a routerLink="/" class="navbar-brand" style = "position:absolute; left: 0px; bottom: 0px;">
      <img src="../assets/logo.png" alt ="logo" id="logo1">
    </a>
    <div class="container">
      <div class="center">
        
            
            <img src="../assets/apple.png"  id="brand" >
          
        
            
            <img src="../assets/android.png" id="brand"  >
          
        
      </div>
      <div class="bottom">Bottom Left</div>
    </div>
    
       
    
      
    
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->