<div class="row box">
  <div class="col-md-4 order-md-2 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">Din kurv</span>
      <span class="badge badge-secondary badge-pill">1</span>
    </h4>
    <ul class="list-group mb-3">
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h6 class="my-0">Varenavn</h6>
          <small class="text-muted">Karmstol samtida</small>
        </div>
        <span class="text-muted">DKK 549</span>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h6 class="my-0">Gebyrer</h6>
          <small class="text-muted">Salær gebyr</small> <br>
          <small class="text-muted">Moms afgift</small>
        </div>
        <div>
          <span class="text-muted">DKK 249</span> <br>
          <small class="text-muted">DKK 99</small> <br>
          <small class="text-muted">DKK 49</small>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h6 class="my-0">Forsendelse</h6>
          <small class="text-muted">København</small>
        </div>
        <span class="text-muted">DKK 49</span>
      </li>
      <li class="list-group-item d-flex justify-content-between bg-light">
        <div class="text-success">
          <h6 class="my-0">Rabat kode</h6>
          <small>FØRSTEKØB50</small>
        </div>
        <span class="text-success">DKK -49</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Total (DKK)</span>
        <strong>798</strong>
      </li>
    </ul>
  </div>


  <div class="col-md-8 order-md-1">
    <h3 class="mb-5">Faktureringsadresse</h3>
    <form class="needs-validation" novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="firstName">Fornavn</label>
          <input type="text" class="form-control" id="firstName" placeholder="" value="" required
            formControlName="firstName">
          <div class="invalid-feedback" *ngIf="form.controls.firstName.touched
&& form.controls.firstName.errors">
            <div *ngIf="form.get('firstName').hasError('required')">
              Skriv venligst dit fornavn.
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="lastName">Efternavn</label>
          <input type="text" class="form-control" id="lastName" placeholder="" value="" required
            formControlName="lastName">
          <div class="invalid-feedback" *ngIf="form.controls.lastName.touched
&& !form.controls.lastName.valid">
            Skriv venligst dit efternavn.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="email">E-mail</label>
        <input type="email" class="form-control" id="email" placeholder="" formControlName="email">
        <div class="invalid-feedback" *ngIf="form.controls.email.touched
        && !form.controls.email.valid">
          Skriv venligst din e-mail.
        </div>
      </div>

      <div class="mb-3">
        <label for="address">Adresse</label>
        <input type="text" class="form-control" id="address" placeholder="" required formControlName="address">
        <div class="invalid-feedback" *ngIf="form.controls.address.touched
&& !form.controls.address.valid">
          Skriv venligst din adresse.
        </div>
      </div>

      <div class="mb-3">
        <label for="address2">Adresse <span class="text-muted">(Valgfrit)</span></label>
        <input type="text" class="form-control" id="address2" placeholder="Lejlighed & etage"
          formControlName="address2">
      </div>

      <div class="row">
        <div class="col-md-5 mb-3">
          <label for="country">Land</label>
          <select class="custom-select d-block w-100" id="country" required formControlName="country">
            <option value="">Vælg...</option>
            <option>Danmark</option>
            <option>Sverige</option>
            <option>Norge</option>
            <option>Tyskland</option>
          </select>
          <div class="invalid-feedback" *ngIf="form.controls.country.touched
&& !form.controls.country.valid">
            Vælg venligst et land.
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="state">By</label>
          <select class="custom-select d-block w-100" id="state" required formControlName="state">
            <option value="">Vælg...</option>
            <option>København</option>
            <option>Århus</option>
            <option>Odense</option>
            <option>Ålborg</option>
            <option>Esbjerg</option>
            <option>Randers</option>
          </select>
          <div class="invalid-feedback" *ngIf="form.controls.state.touched
&& !form.controls.state.valid">
            Vælg venligst en by.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="zip">Postkode</label>
          <input type="text" class="form-control" id="zip" placeholder="" required formControlName="zip">
          <div class="invalid-feedback" *ngIf="form.controls.zip.touched
&& !form.controls.zip.valid">
            Skriv venligst din postkode.
          </div>
        </div>
      </div>
      <hr class="mb-4">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="same-address" formControlName="billingAddress">
        <label class="custom-control-label" for="same-address">Min forsendelsesadresse er det samme som min
          faktureringsadresse</label>
        <div class="invalid-feedback" *ngIf="form.controls.billingAddress.touched
                    && !form.controls.billingAddress.valid">
          SKriv venligst din faktureringsadresse.
        </div>
      </div>


      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="save-info">
        <label class="custom-control-label" for="save-info">Gem min information til næste gang</label>
      </div>
      <hr class="mb-4">

      <h4 class="mb-3">Betaling</h4>

      <div class="d-block my-3">
        <div class="custom-control custom-radio">
          <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required
            formControlName="paymentMethod" value="credit">
          <label class="custom-control-label" for="credit">Kreditkort</label>
        </div>
        <div class="custom-control custom-radio">
          <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required
            formControlName="paymentMethod" value="debit">
          <label class="custom-control-label" for="debit">Debitkort</label>
        </div>
        <div class="custom-control custom-radio">
          <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required
            formControlName="paymentMethod" value="paypal">
          <label class="custom-control-label" for="paypal">PayPal</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="cc-name">Kortnavn</label>
          <input type="text" class="form-control" id="cc-name" placeholder="" required formControlName="name">
          <small class="text-muted">Fulde navn på kortet</small>
          <div class="invalid-feedback" *ngIf="form.controls.name.touched
                    && !form.controls.name.valid">
            Skriv venligst navnet på kortet.
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="cc-number">Kreditkort nummer</label>
          <input type="text" class="form-control" id="cc-number" placeholder="" required
            formControlName="creditCardNumber">
          <div *ngIf="form.controls.creditCardNumber.touched
&& form.controls.creditCardNumber.errors">

            <div *ngIf="form.get('creditCardNumber').hasError('invalidCreditCard')">
              Skriv venligst et gyldigt kreditkort nummer.
            </div>

            <div *ngIf="form.get('creditCardNumber').hasError('required')">
              Skriv venligst dit kreditkort nummer.
            </div>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 mb-3">
          <label for="cc-expiration">Udløbsdato</label>
          <input type="text" class="form-control" id="cc-expiration" placeholder="" required
            formControlName="Expiration">
          <div class="invalid-feedback" *ngIf="form.controls.Expiration.touched
                    && !form.controls.Expiration.valid">
            Skriv venligst kortets udløbsdato.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="cc-cvv">CVV</label>
          <input type="text" class="form-control" id="cc-cvv" placeholder="" required formControlName="cvv">
          <div class="invalid-feedback" *ngIf="form.controls.cvv.touched
                    && !form.controls.cvv.valid">
            Skriv venligst kortets CVV.
          </div>
        </div>
      </div>
      <hr class="mb-4">
      <button mat-button href="/confirmation" class="btn btn-primary btn-lg btn-block" type="submit">Fuldfør mit køb</button>
    </form>
  </div>
</div>