<p>checkout works!</p>

 <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Billing address</h4>
      <form class="needs-validation" novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" placeholder="" value="" required 
            formControlName="firstName">
            <div class="invalid-feedback" *ngIf="form.controls.firstName.touched
&& form.controls.firstName.errors">
<div *ngIf="form.get('firstName').hasError('required')">
              Valid first name is required.
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" placeholder="" value="" required
            formControlName="lastName">
            <div class="invalid-feedback" *ngIf="form.controls.lastName.touched
&& !form.controls.lastName.valid">
            last name is required.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="username">Username</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input type="text" class="form-control" id="username" placeholder="Username" required 
            formControlName="username">
            <div class="invalid-feedback" *ngIf="form.controls.username.touched
&& !form.controls.username.valid" style="width: 100%;">
              Your username is required.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="email">Email <span class="text-muted">(Optional)</span></label>
          <input type="email" class="form-control" id="email" placeholder="you@example.com" formControlName="email">
          <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
        </div>

        <div class="mb-3">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address" placeholder="1234 Main St" required 
          formControlName="address">
          <div class="invalid-feedback" *ngIf="form.controls.address.touched
&& !form.controls.address.valid">
            Please enter your shipping address.
          </div>
        </div>

        <div class="mb-3">
          <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
          <input type="text" class="form-control" id="address2" placeholder="Apartment or suite"
          formControlName="address2">
        </div>

        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="country">Country</label>
            <select class="custom-select d-block w-100" id="country" required
            formControlName="country"
            >
              <option value="">Choose...</option>
              <option>United States</option>
            </select>
            <div class="invalid-feedback" *ngIf="form.controls.country.touched
&& !form.controls.country.valid">
              Please select a valid country.
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="state">State</label>
            <select class="custom-select d-block w-100" id="state" 
            required formControlName="state">
              <option value="">Choose...</option>
              <option>California</option>
            </select>
            <div class="invalid-feedback" *ngIf="form.controls.state.touched
&& !form.controls.state.valid">
              Please provide a valid state.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="zip">Zip</label>
            <input type="text" class="form-control" id="zip" placeholder="" required formControlName="zip">
            <div class="invalid-feedback" *ngIf="form.controls.zip.touched
&& !form.controls.zip.valid">
              Zip code required.
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="same-address" formControlName="billingAddress">
          <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
                  <div class="invalid-feedback" *ngIf="form.controls.billingAddress.touched
                    && !form.controls.billingAddress.valid">
              billing address required.
            </div>
        </div>


        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="save-info" >
          <label class="custom-control-label" for="save-info">Save this information for next time</label>
        </div>
        <hr class="mb-4">

        <h4 class="mb-3">Payment</h4>

        <div class="d-block my-3">
          <div class="custom-control custom-radio">
            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required
            formControlName="paymentMethod" value="credit"
            >
            <label class="custom-control-label" for="credit">Credit card</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required
            formControlName="paymentMethod" value="debit">
            <label class="custom-control-label" for="debit">Debit card</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required
            formControlName="paymentMethod" value="paypal">
            <label class="custom-control-label" for="paypal">PayPal</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="cc-name">Name on card</label>
            <input type="text" class="form-control" id="cc-name" placeholder="" required
            formControlName="name">
            <small class="text-muted">Full name as displayed on card</small>
            <div class="invalid-feedback" *ngIf="form.controls.name.touched
                    && !form.controls.name.valid" >
              Name on card is required
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="cc-number">Credit card number</label>
            <input type="text" class="form-control" id="cc-number" placeholder="" required
            formControlName="creditCardNumber"
            >
                      <div *ngIf="form.controls.creditCardNumber.touched
&& form.controls.creditCardNumber.errors">

            <div *ngIf="form.get('creditCardNumber').hasError('invalidCreditCard')">
            card number is invalid
            </div>

            <div *ngIf="form.get('creditCardNumber').hasError('required')">
            card number is required
            </div>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="cc-expiration">Expiration</label>
            <input type="text" class="form-control" id="cc-expiration" placeholder="" required
            formControlName="Expiration"
            >
            <div class="invalid-feedback" *ngIf="form.controls.Expiration.touched
                    && !form.controls.Expiration.valid">
              Expiration date required
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="cc-cvv">CVV</label>
            <input type="text" class="form-control" id="cc-cvv" placeholder="" required formControlName="cvv">
            <div class="invalid-feedback" *ngIf="form.controls.cvv.touched
                    && !form.controls.cvv.valid" >
              Security code required
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit" >Continue to checkout</button>
      </form>
    </div>
  
