<h2>Populære produkter</h2>

<div class="gallery js-flickity my-viewport" data-flickity-options='{ "wrapAround": true }'>
  <div class="gallery-cell">
    <img class="img-carousel" src="../assets/img/camera.jpg">
    <h4 class="product-title">Kamera</h4>
    <p class="product-text">Næste bud</p>
    <p class="product-price"><b>DKK 549</b></p>
    <button mat-button type="button" class="btn btn-primary btn-lg m-1"><a class="white" href="#">Køb her</a></button>
  </div>
  <div class="gallery-cell">
    <img class="img-carousel" src="../assets/img/headset.jpg">
    <h4 class="product-title">Headset</h4>
    <p class="product-text">Næste bud</p>
    <p class="product-price"><b>DKK 449</b></p>
    <button mat-button type="button" class="btn btn-primary btn-lg m-1"><a class="white" href="#">Køb her</a></button>
  </div>
  <div class="gallery-cell">
    <img class="img-carousel" src="../assets/img/mouse.jpg">
    <h4 class="product-title">Computer mus</h4>
    <p class="product-text">Næste bud</p>
    <p class="product-price"><b>DKK 300</b></p>
    <button mat-button type="button" class="btn btn-primary btn-lg m-1"><a class="white" href="#">Køb her</a></button>
  </div>
  <div class="gallery-cell">
    <img class="img-carousel" src="../assets/img/speaker.jpg">
    <h4 class="product-title">Højtaler</h4>
    <p class="product-text">Næste bud</p>
    <p class="product-price"><b>DKK 749</b></p>
    <button mat-button type="button" class="btn btn-primary btn-lg m-1"><a class="white" href="#">Køb her</a></button>
  </div>
  <div class="gallery-cell">
    <img class="img-carousel" src="../assets/img/computer.jpg">
    <h4 class="product-title">Computer</h4>
    <p class="product-text">Næste bud</p>
    <p class="product-price"><b>DKK 900</b></p>
    <button mat-button type="button" class="btn btn-primary btn-lg m-1"><a class="white" href="#">Køb her</a></button>
  </div>
</div>