<h2>Populære produkter</h2>

<div class="gallery js-flickity my-viewport"
  data-flickity-options='{ "wrapAround": true }'>
  <div class="gallery-cell">
      <img class="img-carousel" src="../assets/img/camera.jpg">
      <h4 class="product-title">Kamera</h4>
      <p class="product-text">Næste bud</p>
      <p class="product-price"><b>DKK 500</b></p>
  </div>
  <div class="gallery-cell">
    <img class="img-carousel" src="../assets/img/headset.jpg">
    <h4 class="product-title">Headset</h4>
    <p class="product-text">Næste bud</p>
    <p class="product-price"><b>DKK 500</b></p>
  </div>
  <div class="gallery-cell">
    <img class="img-carousel" src="../assets/img/mouse.jpg">
    <h4 class="product-title">Computer mus</h4>
    <p class="product-text">Næste bud</p>
    <p class="product-price"><b>DKK 500</b></p>
  </div>
  <div class="gallery-cell">
    <img class="img-carousel" src="../assets/img/speaker.jpg">
    <h4 class="product-title">Højtaler</h4>
    <p class="product-text">Næste bud</p>
    <p class="product-price"><b>DKK 500</b></p>
  </div>
  <div class="gallery-cell">
    <img class="img-carousel" src="../assets/img/computer.jpg">
    <h4 class="product-title">Computer</h4>
    <p class="product-text">Næste bud</p>
    <p class="product-price"><b>DKK 500</b></p>
  </div>
</div>