<div class="container">

  <div class="row justify-content-center">

    <div class="col-lg-12">

      <div class="card mt-4 product-card">
        <img class="card-img-top img-fluid" src="{{funiture.img}}" alt="product">
        <div class="card-body">
          <h3 class="card-title">{{funiture.title}}</h3>
          <h4>{{funiture.Vurdering}} DKK</h4>
          <p class="card-text">{{funiture.Beskrivelse}}</p>
        </div>
      </div>
      <!-- /.card -->

      <div class="card card-outline-secondary my-4">
        <div class="card-header">
          Seneste bud - <i>Udløber {{funiture.tid}}</i>
        </div>
        <div class="card-body">
          <p>940 DKK</p>
          <small class="text-muted">Budt af Mikkel S. Gregersen - 23/03-2020</small>
          <hr>
          <p>750 DKK</p>
          <small class="text-muted">Budt af Trine J. Thomsen - 21/03-2020</small>
          <hr>
          <p>520 DKK</p>
          <small class="text-muted">Budt af Marcus E. Ravn - 20/03-2020</small>
          <hr>
          <p>450 DKK</p>
          <small class="text-muted">Budt af Jasmin V. Schultz - 16/03-2020</small>
          <hr>
          <p>370 DKK</p>
          <small class="text-muted">Budt af Louise J. Nissen - 15/03-2020</small>
          <hr>
          <a mat-button href="/checkout" class="btn btn-success">Køb nu</a>
        </div>
      </div>
      <!-- /.card -->

    </div>
    <!-- /.col-lg-9 -->

  </div>

</div>


<!--
<div class="product">
  <mat-card class="card">

    <h1>{{funiture.title}}</h1>

    <ul class="list-group">
      <li class="list-group-item">Beskrivelse:{{funiture.Beskrivelse}} </li>
      <li class="list-group-item">Vurdering: {{funiture.Vurdering}} </li>
      <li class="list-group-item">Showroom : {{funiture.Showroom}} </li>
      <li class="list-group-item">tid: {{funiture.tid}} </li>
    </ul>

    <img src="{{funiture.img}}" alt="{{funiture.title}}" /><br>

    <button class="btn btn-primary" (click)="buy()">Køb</button>

  </mat-card>
</div>
-->