<mat-card-header>
  <mat-card-title>
    <h1>Register or log in</h1>
    </mat-card-title>
</mat-card-header>

<mat-grid-list cols="2" rowHeight="2:2">
  <mat-grid-tile>
    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="left center">
      <mat-card class="box">

        <form class="example-form">

          <mat-card-content>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="Name" [formControl]="name" required>
              <mat-error *ngIf="name.invalid">{{getErrorName()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" [formControl]="email" required>
              <mat-error *ngIf="email.invalid">{{getErrorEmail()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="Phone number">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input placeholder="Password" [formControl]="password" required matInput
                [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="password.invalid">{{getErrorPassword()}}</mat-error>
              </button>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input placeholder="Repeat password" [formControl]="repeatpassword" required matInput
                [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="password.invalid">{{getErrorRepeatpassword()}}</mat-error>
              </button>
            </mat-form-field>

          </mat-card-content>

          <button [routerLink]="['/my-page']" mat-button class="btn-block">Register</button>

        </form>
      </mat-card>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-login></app-login>
  </mat-grid-tile>
</mat-grid-list>





<!-- <div class="create-user">
  <div class="align-center">
    <h1>
      {{title}}
    </h1>
    <form [formGroup]="angForm" novalidate>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          <input class="form-control" name="" placeholder="Fornavn" type="text" formControlName="name">
        </div>
      </div>
      <div
        *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['name'].errors.required">
          Skriv venligst dit fornavn.
        </div>
      </div>
    </form>

    <form [formGroup]="angForm" novalidate>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          <input class="form-control" name="" placeholder="Efternavn" type="text" formControlName="lastname">
        </div>
      </div>
      <div
        *ngIf="angForm.controls['lastname'].invalid && (angForm.controls['lastname'].dirty || angForm.controls['lastname'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['lastname'].errors.required">
          Skriv venligst dit efternavn.
        </div>
      </div>
    </form>

    <form [formGroup]="angForm" novalidate>
      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="email" required>
          <mat-error *ngIf="angForm.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
    </form>
    

    <form [formGroup]="angForm" novalidate>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
          <input class="form-control" name="" placeholder="Telefonnummer" type="text" formControlName="number">
        </div>
      </div>
      <div
        *ngIf="angForm.controls['number'].invalid && (angForm.controls['number'].dirty || angForm.controls['number'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['number'].errors.required">
          Skriv venligst dit telefonnummer.
        </div>
      </div>
    </form>

    <form [formGroup]="angForm" novalidate>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          <input class="form-control" name="" placeholder="Opret adgangskode" type="text" formControlName="password">
        </div>
      </div>
      <div
        *ngIf="angForm.controls['password'].invalid && (angForm.controls['password'].dirty || angForm.controls['password'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['password'].errors.required">
          Skriv venligst en adgangskode.
        </div>
      </div>
    </form>

    <form [formGroup]="angForm" novalidate>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          <input class="form-control" name="" placeholder="Gentag adgangskode" type="text"
            formControlName="repeatpassword">
        </div>
      </div>
      <div
        *ngIf="angForm.controls['repeatpassword'].invalid && (angForm.controls['repeatpassword'].dirty || angForm.controls['repeatpassword'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['repeatpassword'].errors.required">
          Gentag venligst adgangskode.
        </div>
      </div>
    </form>
    <a href="/my-page">
      <button mat-button type="button" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-success">
        Opret bruger
      </button>
    </a>
  </div>
</div> -->