<div class="container">
  <div class="row justify-content-center">
    <div class="col-2 border">
      <a href="/single-product" class="title">{{ funiture.title }}</a>
      <div class="col-2 border img-border">
        <img class="img" src="{{ funiture.img }}">
      </div>
    </div>
    <div class="col-2 border">
      {{ funiture. Beskrivelse}}
    </div>
    <div class="col-2 border">
      {{ funiture. Vurdering}} DKK
    </div>
    <div class="col-2 border">
      {{ funiture.Showroom }}
    </div>
    <div class="col-2 border">
      {{ funiture.tid }}
    </div>
  </div>
</div>