.jumbotron {
  padding: 8rem 2rem;
  background-color: white;
}

.lead {
  margin-top: 2rem;
}

hr {
  border-color: #B69E7C;
}

.mat-focus-indicator.btn.btn-primary.btn-sm.mat-button.mat-button-base {
  background: #7E6036;
  color: white;
  box-shadow: 0 0 5px gray;
}

a {
  color: #B69E7C;
}