<div>
  <img class="front-pic" src="../assets/img/books.jpg">
  <div class="carousel-caption start">
    <!-- <h4 class="byd"><i>Første gang, anden gang, tredje gang... SOLGT!</i></h4> -->
    <h1 class="byd">Er du klar til at sælge eller byde?</h1>
    <h1 class="byd">Lad os hjælpe dig igang!</h1>
 <a href="/search">
      <button mat-button type="button" class="btn btn-primary btn-lg mt-3">Køb her</button>
    </a>
  </div>
</div>

<app-product-carousel></app-product-carousel>

<div class="row menu">
  <div class="col">
    <a class="card-text" href="https://www.lauritz.com/en/auctions/?FLId=2&FCId=5">
      <div class="card">
        <i class="fas fa-user-friends fa-4x"></i>
        <div class="card-body bg-hover">
          <h5 class="card-title">Udvalgte teamauktioner</h5>
          <p class="card-text">Hold dig orienteret om særlige samlinger, tendenser eller bare bliv inspireret.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a class="card-text" href="https://www.lauritz.com/en/auctions/?FLId=2&FCId=5">
      <div class="card">
        <i class="fas fa-gavel fa-4x"></i>
        <div class="card-body bg-hover">
          <h5 class="card-title">Fantastiske hammerslag</h5>
          <p class="card-text">Se tidligere sæsoner op TV2 Play.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a class="card-text" href="https://www.lauritz.com/en/auctions/?FLId=2&FCId=5&OD=1&aid=1189&SelectedTab=3">
      <div class="card">
        <i class="fas fa-book-open fa-4x"></i>
        <div class="card-body bg-hover">
          <h5 class="card-title">Premiere på verket</h5>
          <p class="card-text">Vores nye svenske magasin, fyldt med inspirerende historier fra vores auktionverden.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a class="card-text" href="https://www.lauritz.com/en/gift-voucher-for-lauritz-com/a3506/10/0/">
      <div class="card">
        <i class="fas fa-gift fa-4x"></i>
        <div class="card-body bg-hover">
          <h5 class="card-title">Giv et gavekort</h5>
          <p class="card-text">Forkæl en du holder af med et valgfrit beløb til køb på Lauritz.</p>
        </div>
      </div>
    </a>
  </div>
</div>

<!-- <div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li class="list-group-item category">Kategorier</li>
      <li class="list-group-item">Elektronik</li>
      <li class="list-group-item">Malerier og skulpturer</li>
      <li class="list-group-item">Sport og fritid</li>
      <li class="list-group-item">Tæpper og tekstiler</li>
      <li class="list-group-item">Vin og spiritus</li>
      <li class="list-group-item">Vin og spiritus</li>
      <li class="list-group-item">
        <form class="form-inline d-flex md-form form-sm">
          <input class="form-control form-control-sm w-75 list-group-item" type="text" placeholder="Søg her"
            aria-label="Search">
          <i class="fas fa-search" aria-hidden="true"></i>
        </form>
      </li>
    </ul>
  </div>
</div> -->