<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <h3 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-5 mb-1">
              <span class="header">Konto</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h3>
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Stamoplysninger <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>

        <h3 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
          <span class="header">Køb</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h3>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Mine køb
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Bud
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Mine søgeagenter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Mine fulgte varer
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Købsvilkår
            </a>
          </li>
        </ul>
        <h3 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
          <span class="header">Salg</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h3>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Mine salg
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Salgsvilkår
            </a>
          </li>
        </ul>
        <h3 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
          <span class="header">Betaling</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h3>
        <ul class="nav flex-column mb-5">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Udbetalinger
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Betaling
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Bestil levering
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Min side</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group">
            <a href="/search">
              <button mat-button class="btn btn-sm btn-primary btn-outline-secondary">Begynd at købe</button>
            </a>
          </div>
        </div>
      </div>

      <h2 class="sub-header">Stamoplysninger</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <tbody>
            <tr>
              <td><b>Navn</b></td>
              <td>Anne N. Madsen</td>
            </tr>
            <tr>
              <td><b>Kundenr.</b></td>
              <td>1234567</td>
            </tr>
            <tr>
              <td><b>Adresse</b></td>
              <td>Gammel Byvej 14</td>
            </tr>
            <tr>
              <td><b>Telefon</b></td>
              <td>24 37 91 58</td>
            </tr>
            <tr>
              <td><b>E-mail</b></td>
              <td>AnneNMadsen@email.dk</td>
            </tr>
            <tr>
              <td><b>Registreringsnr. & bankkontonr.</b></td>
              <td></td>
            </tr>
            <tr>
              <td><b>IBAN</b></td>
              <td></td>
            </tr>
            <tr>
              <td><b>Swift</b></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>