.col-md-2.d-none.d-md-block.bg-light.sidebar {
  background: #EFE8DE !important;
  padding-bottom: 1rem;
}

.nav-link {
  color: #B69E7C;
}

.h2 {
  margin: 0.5rem 0 0 !important;
  font-weight: bold;
}

.sub-header {
  margin: 2.69rem 0 0 !important;
  font-weight: normal;
}

.header {
  font-weight: bold;
  color: #7E6036;
  border-bottom: 1px solid #7E6036;
  width: 105px;
}

.nav-link.active {
  color: #7E6036;
}

.sidebar-sticky {
  width: 160px;
}

.btn.btn-sm.btn-outline-secondary {

  background: #7E6036;
  color: white;
  border: white;
  margin-right: .5rem;
  border-radius: 3px !important;

}

.btn-group {
  margin-right: -.5rem;
}

.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom {
  margin: 0.8rem 0 0 !important;
  padding-bottom: 0.5rem !important;
  border-color: #7E6036 !important;
}

.table.table-striped.table-sm {
  margin: 1rem 0 !important;
}

tbody {
  border: 1px solid lightgray;
}

.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: #EFE8DE;
}