<div class="container">
    <mat-form-field class="example-full-width" >
        <input matInput   placeholder="Søg på Lauritz"/>
    </mat-form-field><span><i class="fa fa-search"></i></span>
</div>

<div class="container">
    <mat-form-field class="select">
    <mat-label>Kategori</mat-label>
    <mat-select>
        <mat-option>None</mat-option>
        <mat-option value="option1">Option 1</mat-option>
        <mat-option value="option2">Option 2</mat-option>
        <mat-option value="option3">Option 3</mat-option>
    </mat-select>
    </mat-form-field>

    <mat-form-field class="select">
    <mat-label>Vurdering</mat-label>
    <mat-select>
        <mat-option>None</mat-option>
        <mat-option value="option1">Option 1</mat-option>
        <mat-option value="option2">Option 2</mat-option>
        <mat-option value="option3">Option 3</mat-option>
    </mat-select>
    </mat-form-field>

    <mat-form-field class="select">
    <mat-label>Tid</mat-label>
    <mat-select>
        <mat-option>None</mat-option>
        <mat-option value="option1">Option 1</mat-option>
        <mat-option value="option2">Option 2</mat-option>
        <mat-option value="option3">Option 3</mat-option>
    </mat-select>
    </mat-form-field>

    <mat-form-field>
    <mat-label>Showroom</mat-label>
    <mat-select>
        <mat-option>None</mat-option>
        <mat-option value="option1">Option 1</mat-option>
        <mat-option value="option2">Option 2</mat-option>
        <mat-option value="option3">Option 3</mat-option>
    </mat-select>
    </mat-form-field>
</div>



<div class="container">
    <mat-checkbox class="check">Vis kun deLuxe-varer</mat-checkbox>
    <mat-checkbox class="check">Vis kun varer i det valgte sprog</mat-checkbox>
    <mat-checkbox class="check">Vis brugte varer</mat-checkbox>
    <mat-checkbox>Nyproducerede varer</mat-checkbox>
</div>


