<div class="container">
    <mat-form-field class="example-full-width" >
        <input matInput   placeholder="Søg på Lauritz" [(ngModel)]="searchValue"/>
    </mat-form-field><span><i class="fa fa-search"></i></span>
</div>

<div class="container">
    <mat-form-field class="select">
    <mat-label>Kategori</mat-label>
    <mat-select [(value)]="Kategori">
       
        <mat-option value="ryggstød">ryggstød</mat-option>
        <mat-option value="Hyndesæt">Hyndesæt</mat-option>
        <mat-option value="stol">stol</mat-option>
    </mat-select>
    </mat-form-field>

    <mat-form-field class="select">
    <mat-label>Vurdering</mat-label> 
    <mat-select [(value)]="vurdering">
       
         <mat-option value="< 1000">< 1000</mat-option>
          <mat-option value="1000 - 1499"> 1000 - 1499 </mat-option>
        <mat-option value="1500 - 2999">1500 - 2999</mat-option>
        <mat-option value="3000 - 6999">3000 - 6999</mat-option>
        <mat-option value="7000 - 9999">7000 -  9999</mat-option>
           <mat-option value="> 10000">> 10000</mat-option>
    </mat-select>
    </mat-form-field>

    <mat-form-field class="select">
    <mat-label>Tid</mat-label>
    <mat-select [(value)]="tid">
       
          <mat-option value="slutter inden for 12 timer">slutter inden for 12 timer</mat-option>
        <mat-option value="slutter inden for 24 timer">slutter inden for 24 timer</mat-option>
       
   
    </mat-select>
    </mat-form-field>

    <mat-form-field>
    <mat-label>Showroom</mat-label>
    <mat-select [(value)]="value">
       
        <mat-option value="SE, Stockholms Auktionsverk, Norrköping">SE, Stockholms Auktionsverk, Norrköping</mat-option>
        <mat-option value="DK, Vejle, Dandyvej">DK, Vejle, Dandyvej</mat-option>
        <mat-option value="SE, Stockholms Auktionsverk, Stockholm Ö">SE, Stockholms Auktionsverk, Stockholm Ö</mat-option>
        <mat-option value="DK, Næstved, Gl. Holstedvej">DK, Næstved, Gl. Holstedvej</mat-option>
        <mat-option value="DK, Roskilde, Store Hedevej">DK, Roskilde, Store Hedevej</mat-option>
        <mat-option value="DK, Odense, Kratholmvej">DK, Odense, Kratholmvej</mat-option>
    </mat-select>
    </mat-form-field>
</div>



<div class="container">
    <mat-checkbox class="check">Vis kun deLuxe-varer</mat-checkbox>
    <mat-checkbox class="check">Vis kun varer i det valgte sprog</mat-checkbox>
    <mat-checkbox class="check">Vis brugte varer</mat-checkbox>
    <mat-checkbox>Nyproducerede varer</mat-checkbox>
</div>

<div class="container">
<div class="row ustify-content-center">
<div class="col-2 border">
title
</div>
<div class="col-2 border">
 Beskrivelse
</div>
<div class="col-2 border">
Vurdering
</div>
<div class="col-2 border">
Showroom 
</div>
<div class="col-2 border">
tid
</div>

</div>
</div>

<app-furniture *ngFor="let furnitureElement of furnitures | search : searchValue | Showroom : value | category : Kategori | valuation : vurdering | time : tid"
[funiture]="furnitureElement"></app-furniture>

<div class="container" *ngIf="(furnitures | search : searchValue | Showroom : value | category : Kategori | valuation : vurdering | time : tid).length === 0">

<p><strong> No items found </strong></p>

</div>



